* { box-sizing: border-box;}

body {
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: SteelBlue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid ;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid ;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin: 1.5vw ;
}

img {
    max-width: 200px;
    height:auto;
}