* { box-sizing: border-box;}

body {
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: SteelBlue;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid ;
}

img {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a {
    margin: 1.5vw ;
}

main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    flex-direction: column;
}

div {
    margin: 50px;
    padding: 25px;
    }

