{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'litreview/css/post_edit.css' %}">{% endblock %}
{% block main %}
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="delete">
            <p>Voulez-vous vraiment supprimer cette publication ?</p>
            <div class="delete-buttons">
                <input type="submit" name ="select_follow" value="Supprimer">
                <button><a href="{% url 'feed' %}" title="Flux">Retour vers le Flux</a></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}