{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}{% endblock %}
{% block main %}
<div>
    <form action="{% url 'ticket-creation' %}">
        <input type="submit" value="Demander une critique" />
    </form>
    <form action="{% url 'direct-review-creation' %}">
        <input type="submit" value="Créer une critique" />
    </form>
</div>
<div>
    {% for post in posts %}
        <div>{% if  post.get_verbose_name == 'Ticket' %}
            {% include 'review/ticket_snippet.html' %}
        {% elif post.get_verbose_name == 'Revue' %}
            {% include 'review/review_snippet.html' %}
        {% endif %}
    {% endfor %}</div>
</div>
{% endblock %}