{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}{% endblock %}
{% block main %}
    <div class="feed-creation-button">
        <form class="button" action="{% url 'ticket-creation' %}">
            <input type="submit" value="Demander une critique">
        </form>
        <form class="button" action="{% url 'direct-review-creation' %}">
            <input type="submit" value="Créer une critique">
        </form>
    </div>

    {% include 'review/posts_list_snippet.html' %}
    {% include 'review/pagination_snippet.html' %}
{% endblock %}
