{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'litreview/css/posts_list.css' %}">{% endblock %}
{% block main %}
    <div class="feed-creation-button">
        <form class="button" action="{% url 'ticket-creation' %}">
            <input type="submit" value="Demander une critique">
        </form>
        <form class="button" action="{% url 'direct-review-creation' %}">
            <input type="submit" value="Créer une critique">
        </form>
    </div>
    {% if page_obj %}
        {% include 'review/posts_list_snippet.html' %}
        {% include 'review/pagination_snippet.html' %}
    {% else %}
        <div>
            <p>Créez tickets et critiques ou abonnez-vous à d'autres utilisateurs pour alimenter votre flux</p>
        </div>
    {% endif %}
{% endblock %}
