<div class="review-display">
    <div class="review-display-head">
        {% if post.user != request.user %}
            <p><a href="{% url 'user-posts' post.user.slug %}" title="profil">{{ post.user }}</a> a publié une critique</p>
        {% else %}
            <p>Vous avez publié une critique</p>
        {% endif %}
        <p>{{ post.time_created }}</p>
    </div>
    <div class="review-headline-rating">
        <h3>{{ post.headline }}</h3>
        <p>-</p>
        <p class="rating">{{ post.rating }}/5 </p>
    </div>
  <p>{{ post.body }}</p>
  <div class="ticket-in-review-display">
      {% if post.ticket.user != request.user %}
        <p>Ticket - <a href="{% url 'user-posts' post.ticket.user.slug %}" title="profil">{{ post.ticket.user }}</a></p>
      {% else %}
        <p>Ticket - Vous</p>
      {% endif %}
      <h3>{{ post.ticket.title}}</h3>
      {% if post.ticket.image %}
        <img src="{{post.ticket.image.url}}">
      {% endif %}
      {% if request.user not in post.ticket.get_ticket_reviewers %}
          <div class="edit-buttons">
              <form action="{% url 'answer-review-creation' post.ticket.pk %}">
                  <input type="submit" value="Répondre" />
              </form>
          </div>
      {% endif %}
  </div>
        {% if request.user == post.user %}
    <div class="edit-buttons">
            <form action="{% url 'review-update' post.pk %}">
                <input type="submit" value="Modifier" />
            </form>
            <form action="{% url 'review-delete' post.pk %}">
                <input type="submit" value="Supprimer" />
            </form>
    </div>
        {% endif %}
</div>