{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'litreview/css/subs.css' %}">{% endblock %}
{% block main %}
    <div class="subs-head">
        <h2>{{ target_user.username }}</h2>
        {% if  target_user == request.user %}
            {% if select_form.fields.followed_user.choices %}
                <form method="POST">
                    {% csrf_token %}
                    {{ select_form }}
                    <input type="submit" name ="select_follow" value="Suivre">
                </form>
            {% else %}
                Il n'y a aucun utilisateur à suivre pour l'instant

            {% endif %}
    </div>
        {% else %}
            <a href="{% url 'user-posts' target_user.slug %}">Voir les publications de {{ target_user.username }}</a>
    </div>
        <div class="status-with-target">
            <form method="POST">
                {% csrf_token %}
                {{ foreign_form }}
                {% if  request_user_in_subs == True %}
                    <p>Vous suivez {{ target_user.username }}</p>
                    <input type="submit" name ="unfollow" value="Se désabonner">
                {% else %}
                    <p>Vous ne suivez pas {{ target_user.username }}</p>
                    <input type="submit" name ="target_follow" value="Suivre">
                {% endif %}
            </form>
        </div>
    {% endif %}
    <div class="followed-and-followers">
        <h3>Abonnements</h3>
        <div class="followed-users">
            {% if is_followed_by_user %}
                {% for user in is_followed_by_user %}
                    <div class="followed-user">
                        {% if  user == request.user %}
                            <p>{{ request.user.username }} (Vous)</p>
                        {% else %}
                            <p><a href="{% url 'user-posts' user.slug %}">{{ user.username }}</a></p>
                        {% endif %}
                    {% for form in unfollow_forms %}
                        {% if form.initial.followed_user == user %}
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="unfollow" value="Se désabonner">
                            </form>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <p>Aucun abonnement</p>
                </div>
            {% endif %}
        </div>
        <h3>Abonnés</h3>
        <div class="followers">
            {% if is_following_user %}
                {% for user in is_following_user %}
                        <div class="follower">
                            {% if  user == request.user %}
                                <p>{{ request.user.username }} (Vous)</p>
                            {% else %}
                                <p><a href="{% url 'user-posts' user.slug %}">{{ user.username }}</a></p>
                            {% endif %}
                        </div>
                {% endfor %}
            {% else %}
                <div>
                    <p>Aucun abonné</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}