
        <div class="ticket-title-edit">
            {{ form.ticket.title.label_tag }}
            {{ form.ticket.title }}
            {{ form.ticket.title.errors }}
        </div>
        <div class="ticket-description-edit">
            {{ form.ticket.description.label_tag }}
            {{ form.ticket.description }}
            {{ form.ticket.description.errors }}
        </div>
        <div class="ticket-user-edit">
            {{ form.ticket.user }}
            {{ form.ticket.user.errors }}
        </div>
        <div class="ticket-image-edit">
            {{ form.ticket.image.label_tag }}
            {{ form.ticket.image }}
            {{ form.ticket.image.errors }}
        </div>
</div>