{% extends 'litreview/base.html' %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'litreview/css/auth.css' %}">{% endblock %}
{% block main %}
    <div class="auth">
        {% if title  == 'Connexion'  %}
            <div class="subscribe">
                <div class="subscribe-tilte">
                    <h2>Inscrivez-vous</h2>
                </div>
                <form action="{% url 'signup' %}">
                    <input type="submit" value="S'inscrire">
                </form>
            </div>
        {% endif %}
        <div class="connect">
            <form method="POST">
                <div class="connect-title">
                    <h2>Connectez-vous</h2>
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                {% for message in errors.values %}
                    <h3 style="color: red;">
                        {{ message }}
                    </h3>
                {% endfor %}
                <div class="submit-button">
                    <input type="submit"  value="{{ title }}">
                    {% if title  == 'Inscription'  %}
                    <button><a href="{% url 'login' %}" title="Accueil">Retour</a></button>
                    {% endif %}
                </div>
            </form>
          </div>
    </div>
{% endblock %}
